<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<false/>
	<key>com.schriftgestaltung.font.userData</key>
	<dict>
		<key>org.unifiedfontobject.normalizer.modTimes</key>
		<string>version: 0a1
1486008977.0 fontinfo.plist
1486008977.0 glyphs/B_.glif
1486008977.0 glyphs/F_.glif
1486008977.0 glyphs/L_.glif
1486008977.0 glyphs/N_ameM_e.31.glif
1486008977.0 glyphs/a.glif
1486008977.0 glyphs/b.glif
1486008977.0 glyphs/c.glif
1486008977.0 glyphs/d.glif
1486008977.0 glyphs/e.glif
1486008977.0 glyphs/f.glif
1486008977.0 glyphs/f_i.glif
1486008977.0 glyphs/g.glif
1486008977.0 glyphs/h.glif
1486008977.0 glyphs/i.glif
1486008977.0 glyphs/j.glif
1486008977.0 glyphs/k.glif
1486008977.0 glyphs/l.glif
1486008977.0 glyphs/m.glif
1486008977.0 glyphs/n.glif
1486008977.0 glyphs/o.glif
1486008977.0 glyphs/p.glif
1486008977.0 glyphs/q.glif
1486008977.0 glyphs/r.glif
1486008977.0 glyphs/s.glif
1486008977.0 glyphs/space.glif
1486008977.0 glyphs/t.glif
1486008977.0 glyphs/u.glif
1486008977.0 glyphs/v.glif
1486008977.0 glyphs/w.glif
1486008977.0 glyphs/x.glif
1486008977.0 glyphs/y.glif
1486008977.0 glyphs/z.glif
1486008977.0 metainfo.plist</string>
	</dict>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>0EF112A6-69F8-47E9-9D72-C545F6D6A613</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<false/>
	<key>com.schriftgestaltung.useNiceNames</key>
	<false/>
	<key>public.glyphOrder</key>
	<array>
		<string>W</string>
		<string>a</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>x</string>
		<string>y</string>
		<string>hyphen</string>
		<string>space</string>
		<string>CR</string>
		<string>.notdef</string>
		<string>logo.eventer</string>
		<string>logo.textual</string>
		<string>logo.ulkaa</string>
		<string>logo.mooniak.trilingual</string>
		<string>mush</string>
		<string>logo.scribblehand</string>
		<string>logo.colombore</string>
		<string>logo.mooniakplanets</string>
		<string>logo.mooniaktext</string>
		<string>logo.scribble</string>
		<string>logo.scribbletext</string>
		<string>logo.sense</string>
	</array>
</dict>
</plist>
