<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>com.schriftgestaltung.DisplayStrings</key>
		<array>
			<string>/tml_MUu/tml_MatraI/tml_Na m/tml_Ya a/tml_Pa a/tml_Va a/tml_Pa a/tml_Va/tml_Ka/logo.mooniak.tml adh/logo.mooniak.sin/sinMa/tml_Pa a/tml_Va a/tml_Pa a/tml_Va/tml_Ka/logo.mooniak.tml adsascnjbncdbiubcdknvfvwnkxxvch/logo.mooniak.sin/sinMa/tml_Pa a/tml_Va a/tml_Pa a/tml_Va/tml_Ka/logo.mooniak.tml adh/logo.mooniak.sin/sinMa/tml_Pa a/tml_Va a/tml_Pa a/tml_Va/tml_Ka/logo.mooniak.tml adh/logo.mooniak.sin/sinMa/sinYa/sinKa/sinTha/tml_MUu/tml_MatraI cd/tml_Na vsdm/tml_Ya a/tml_Pa a/tml_Va/tml_Ka/logo.mooniak.tml advdojv</string>
			<string>/logo.mooniak.sin</string>
			<string></string>
			<string>w</string>
			<string> rskw</string>
			<string>t</string>
			<string>i</string>
			<string>fghi/tml_Ma/tml_Va adhtjklfghi/tml_Ma/tml_Va adhtj
design, art direction and digital studio

mooniak

lfghi/tml_Ma/tml_Va adhtjklfghi/tml_Ma/tml_Va adhtjklfghi/tml_Ma/tml_Va adhtjklfghi/tml_Ma/tml_Va adhtjklfghi/tml_Ma/tml_Va adhtjklfghi/tml_Ma/tml_Va adhtjklfghi/tml_Ma/tml_Va adhtjkl</string>
			<string>ualtk</string>
			<string>mlkn</string>
			<string>mooniak
acdefghijklmnoprt</string>
			<string>h</string>
			<string>adh</string>
			<string>/tml_A/tml_Aa/tml_I/tml_Ii/tml_U/tml_Uu/tml_E/tml_Ee/tml_Ai/tml_O/tml_Ka/tml_Nga/tml_Ca/tml_Ja/tml_Nya/tml_Tta/tml_Nna/tml_Ta/tml_Na/tml_Pa/tml_Va/tml_Ma/tml_Va adh/tml_Na/tml_MatraI/tml_Ya/tml_Ra/tml_Ra.alt/tml_Llla/tml_Va</string>
			<string>/logo.mooniak.tml</string>
			<string>/tml_Tta</string>
			<string>pathum 

pathum egodawatta</string>
			<string>/logo.scribbletext</string>
			<string>mooniak/logo.mooniak</string>
			<string>/sinMa/sinYa/sinKa/sinTha</string>
			<string>/logo.mooniak.sin/logo.mooniak.tml/logo.mooniak</string>
			<string>/tml_Ma</string>
			<string>/tml_LllU/tml_LllUu/tml_MU</string>
			<string>/tml_LllU/tml_LllUu/tml_MU/tml_MUu</string>
			<string>/tml_Llla</string>
			<string>/tml_Virama</string>
			<string>bcdefghijqrstuvwxy/tml_Ii/tml_E/tml_Ee/tml_Ka/tml_Nga/tml_Ca/tml_Tta/tml_Na/tml_Pa n/tml_Ma/tml_Ya/tml_Ra.alt/tml_Ra/tml_Ra.alt/tml_Llla/tml_Va</string>
			<string>/sinMa/sinYa/sinKa</string>
			<string>/logo.mooniak.sin/logo.mooniak</string>
			<string>/sinKa</string>
			<string>/logo.mooniak.sin 
/logo.mooniak.tml 

/logo.mooniak.sin/logo.mooniak</string>
			<string>design,art direction and digital studio,</string>
			<string>-</string>
			<string>&gt;</string>
			<string>&lt;</string>
			<string>/logo.sense</string>
			<string>/logo.mooniak.en 


  </string>
			<string>a/tml_E</string>
			<string>/logo.mooniak.sin   /logo.mooniak.tml/logo.mooniak 


</string>
			<string>/logo.mooniak.tml/logo.mooniak.sin/logo.mooniak</string>
			<string>/logo.mooniak</string>
			<string>a</string>
			<string>A</string>
			<string>/logo.mooniak.tml</string>
			<string>/logo.mooniak.tml/logo.mooniak.sin/logo.mooniak</string>
			<string>/logo.mooniak.thn</string>
			<string>/logo.mooniak.thn 



/logo.mooniak.thn/logo.mooniak</string>
			<string>A/logo.mooniak/logo.mooniak</string>
			<string>/logo.colombore</string>
			<string>/logo.mooniak.sin</string>
			<string>

/logo.mooniak.thn 


</string>
			<string>/logo.mooniak.thn</string>
			<string>/logo.mooniak</string>
			<string>/logo.mooniak.thn</string>
			<string>/logo.mooniak</string>
			<string></string>
			<string>/logo.mooniak.full</string>
			<string>/logo.mooniak.thn</string>
			<string>/logo.mooniak.full 



</string>
			<string>/logo.mooniak.sin/logo.mooniak.en/logo.mooniak.tml</string>
			<string>/logo.mooniak.thn</string>
			<string>abcdefghijklmnopqrstuvwxy</string>
		</array>
		<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
		<false/>
		<key>com.schriftgestaltung.font.userData</key>
		<dict>
			<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
			<integer>0</integer>
		</dict>
		<key>com.schriftgestaltung.fontMaster.userData</key>
		<dict>
			<key>GSCornerRadius</key>
			<integer>15</integer>
		</dict>
		<key>com.schriftgestaltung.fontMasterID</key>
		<string>B24528F6-199A-4A7E-931E-F430756048DC</string>
		<key>com.schriftgestaltung.glyphOrder</key>
		<false/>
		<key>com.schriftgestaltung.useNiceNames</key>
		<false/>
		<key>org.unifiedfontobject.normalizer.modTimes</key>
		<string>version: 0.3.3.dev0
1533146583.0 fontinfo.plist
1533146582.0 glyphs/A_.glif
1533146582.0 glyphs/C_R_.glif
1533146582.0 glyphs/_notdef.glif
1533146582.0 glyphs/a.glif
1533146582.0 glyphs/b.glif
1533146582.0 glyphs/c.glif
1533146582.0 glyphs/comma.glif
1533146582.0 glyphs/d.glif
1533146582.0 glyphs/e.glif
1533146582.0 glyphs/f.glif
1533146582.0 glyphs/g.glif
1533146582.0 glyphs/greater.glif
1533146582.0 glyphs/h.glif
1533146582.0 glyphs/hyphen.glif
1533146582.0 glyphs/i.glif
1533146582.0 glyphs/j.glif
1533146582.0 glyphs/k.glif
1533146582.0 glyphs/l.glif
1533146582.0 glyphs/less.glif
1533146582.0 glyphs/logo.colombore.glif
1533146582.0 glyphs/logo.eventer.glif
1533146582.0 glyphs/logo.mooniak.en.glif
1533146582.0 glyphs/logo.mooniak.full.glif
1533146582.0 glyphs/logo.mooniak.glif
1533146582.0 glyphs/logo.mooniak.sin.glif
1533146582.0 glyphs/logo.mooniak.thn.glif
1533146582.0 glyphs/logo.mooniak.tml.glif
1533146582.0 glyphs/logo.mooniakplanets.glif
1533146582.0 glyphs/logo.scribble.glif
1533146582.0 glyphs/logo.scribblehand.glif
1533146582.0 glyphs/logo.scribbletext.glif
1533146582.0 glyphs/logo.sense.glif
1533146582.0 glyphs/logo.textual.glif
1533146582.0 glyphs/logo.ulkaa.glif
1533146582.0 glyphs/m.glif
1533146582.0 glyphs/mush.glif
1533146582.0 glyphs/n.glif
1533146582.0 glyphs/o.glif
1533146582.0 glyphs/p.glif
1533146582.0 glyphs/q.glif
1533146582.0 glyphs/question.glif
1533146582.0 glyphs/r.glif
1533146582.0 glyphs/s.glif
1533146582.0 glyphs/sinK_a.glif
1533146582.0 glyphs/sinM_a.glif
1533146582.0 glyphs/sinT_ha.glif
1533146582.0 glyphs/sinY_a.glif
1533146582.0 glyphs/space.glif
1533146582.0 glyphs/t.glif
1533146582.0 glyphs/tml_A_.glif
1533146582.0 glyphs/tml_A_a.glif
1533146582.0 glyphs/tml_A_bove.glif
1533146582.0 glyphs/tml_A_i.glif
1533146582.0 glyphs/tml_A_nusvara.glif
1533146582.0 glyphs/tml_A_u.glif
1533146582.0 glyphs/tml_A_uL_engthmark.glif
1533146582.0 glyphs/tml_C_U_.glif
1533146582.0 glyphs/tml_C_U_u.glif
1533146582.0 glyphs/tml_C_a.glif
1533146582.0 glyphs/tml_C_redit.glif
1533146582.0 glyphs/tml_D_ay.glif
1533146582.0 glyphs/tml_D_ebit.glif
1533146582.0 glyphs/tml_E_.glif
1533146582.0 glyphs/tml_E_e.glif
1533146582.0 glyphs/tml_E_ight.glif
1533146582.0 glyphs/tml_F_ive.glif
1533146582.0 glyphs/tml_F_our.glif
1533146582.0 glyphs/tml_H_a.glif
1533146582.0 glyphs/tml_H_undred.glif
1533146582.0 glyphs/tml_I_.glif
1533146582.0 glyphs/tml_I_i.glif
1533146582.0 glyphs/tml_J_a.glif
1533146582.0 glyphs/tml_K_S_sU_.glif
1533146582.0 glyphs/tml_K_S_sU_u.glif
1533146582.0 glyphs/tml_K_S_sa.glif
1533146582.0 glyphs/tml_K_U_.glif
1533146582.0 glyphs/tml_K_U_u.glif
1533146582.0 glyphs/tml_K_a.glif
1533146582.0 glyphs/tml_L_U_.glif
1533146582.0 glyphs/tml_L_U_u.glif
1533146582.0 glyphs/tml_L_a.glif
1533146582.0 glyphs/tml_L_lU_.glif
1533146582.0 glyphs/tml_L_lU_u.glif
1533146582.0 glyphs/tml_L_la.glif
1533146582.0 glyphs/tml_L_llU_.glif
1533146582.0 glyphs/tml_L_llU_u.glif
1533146582.0 glyphs/tml_L_lla.glif
1533146582.0 glyphs/tml_M_U_.glif
1533146582.0 glyphs/tml_M_U_u.glif
1533146582.0 glyphs/tml_M_a.glif
1533146583.0 glyphs/tml_M_atraA_a.glif
1533146583.0 glyphs/tml_M_atraA_i.alt.glif
1533146583.0 glyphs/tml_M_atraA_i.glif
1533146583.0 glyphs/tml_M_atraA_u.glif
1533146583.0 glyphs/tml_M_atraE_.glif
1533146583.0 glyphs/tml_M_atraE_e.glif
1533146583.0 glyphs/tml_M_atraI_.alt1.glif
1533146583.0 glyphs/tml_M_atraI_.alt2.glif
1533146583.0 glyphs/tml_M_atraI_.alt3.glif
1533146583.0 glyphs/tml_M_atraI_.alt4.glif
1533146583.0 glyphs/tml_M_atraI_.alt5.glif
1533146583.0 glyphs/tml_M_atraI_.alt6.glif
1533146583.0 glyphs/tml_M_atraI_.alt7.glif
1533146583.0 glyphs/tml_M_atraI_.alt8.glif
1533146583.0 glyphs/tml_M_atraI_.glif
1533146583.0 glyphs/tml_M_atraI_.stylalt1.glif
1533146583.0 glyphs/tml_M_atraI_i.alt1.glif
1533146583.0 glyphs/tml_M_atraI_i.alt2.glif
1533146583.0 glyphs/tml_M_atraI_i.alt3.glif
1533146583.0 glyphs/tml_M_atraI_i.glif
1533146583.0 glyphs/tml_M_atraI_i.stylalt1.glif
1533146583.0 glyphs/tml_M_atraO_.glif
1533146583.0 glyphs/tml_M_atraO_o.glif
1533146583.0 glyphs/tml_M_atraU_.alt1.glif
1533146583.0 glyphs/tml_M_atraU_.glif
1533146583.0 glyphs/tml_M_atraU_u.glif
1533146583.0 glyphs/tml_M_onth.glif
1533146583.0 glyphs/tml_N_U_.glif
1533146583.0 glyphs/tml_N_U_u.glif
1533146583.0 glyphs/tml_N_a.glif
1533146583.0 glyphs/tml_N_gU_u.glif
1533146583.0 glyphs/tml_N_ga.glif
1533146583.0 glyphs/tml_N_ine.glif
1533146583.0 glyphs/tml_N_nA_a.alt.glif
1533146583.0 glyphs/tml_N_nU_.glif
1533146583.0 glyphs/tml_N_nU_u.glif
1533146583.0 glyphs/tml_N_na.glif
1533146583.0 glyphs/tml_N_nnA_a.alt.glif
1533146583.0 glyphs/tml_N_nnU_.glif
1533146583.0 glyphs/tml_N_nnU_u.glif
1533146583.0 glyphs/tml_N_nna.glif
1533146583.0 glyphs/tml_N_umber.glif
1533146583.0 glyphs/tml_N_yU_.glif
1533146583.0 glyphs/tml_N_yU_u.glif
1533146583.0 glyphs/tml_N_ya.glif
1533146583.0 glyphs/tml_O_.glif
1533146583.0 glyphs/tml_O_m.glif
1533146583.0 glyphs/tml_O_ne.glif
1533146583.0 glyphs/tml_O_o.glif
1533146583.0 glyphs/tml_P_U_u.glif
1533146583.0 glyphs/tml_P_a.glif
1533146583.0 glyphs/tml_R_I_.alt.glif
1533146583.0 glyphs/tml_R_I_i.alt.glif
1533146583.0 glyphs/tml_R_U_.glif
1533146583.0 glyphs/tml_R_U_u.glif
1533146583.0 glyphs/tml_R_a.alt.glif
1533146583.0 glyphs/tml_R_a.glif
1533146583.0 glyphs/tml_R_rA_a.alt.glif
1533146583.0 glyphs/tml_R_rU_.glif
1533146583.0 glyphs/tml_R_rU_u.glif
1533146583.0 glyphs/tml_R_ra.glif
1533146583.0 glyphs/tml_R_upee.glif
1533146583.0 glyphs/tml_S_I_.glif
1533146583.0 glyphs/tml_S_I_i.glif
1533146583.0 glyphs/tml_S_U_.glif
1533146583.0 glyphs/tml_S_U_u.glif
1533146583.0 glyphs/tml_S_a.glif
1533146583.0 glyphs/tml_S_even.glif
1533146583.0 glyphs/tml_S_ha.glif
1533146583.0 glyphs/tml_S_hree.glif
1533146583.0 glyphs/tml_S_ix.glif
1533146583.0 glyphs/tml_S_sU_.glif
1533146583.0 glyphs/tml_S_sU_u.glif
1533146583.0 glyphs/tml_S_sa.glif
1533146583.0 glyphs/tml_T_U_.glif
1533146583.0 glyphs/tml_T_U_u.glif
1533146583.0 glyphs/tml_T_a.glif
1533146583.0 glyphs/tml_T_en.glif
1533146583.0 glyphs/tml_T_housand.glif
1533146583.0 glyphs/tml_T_hree.glif
1533146583.0 glyphs/tml_T_tI_.glif
1533146583.0 glyphs/tml_T_tI_i.glif
1533146583.0 glyphs/tml_T_tU_.glif
1533146583.0 glyphs/tml_T_tU_u.glif
1533146583.0 glyphs/tml_T_ta.glif
1533146583.0 glyphs/tml_T_wo.glif
1533146583.0 glyphs/tml_U_.glif
1533146583.0 glyphs/tml_U_u.glif
1533146583.0 glyphs/tml_V_U_u.glif
1533146583.0 glyphs/tml_V_a.glif
1533146583.0 glyphs/tml_V_irama.glif
1533146583.0 glyphs/tml_V_isarga.glif
1533146583.0 glyphs/tml_Y_U_u.glif
1533146583.0 glyphs/tml_Y_a.glif
1533146583.0 glyphs/tml_Y_ear.glif
1533146583.0 glyphs/u.glif
1533146583.0 glyphs/v.glif
1533146583.0 glyphs/w.glif
1533146583.0 glyphs/x.glif
1533146583.0 glyphs/y.glif
1533146583.0 metainfo.plist</string>
		<key>public.glyphOrder</key>
		<array>
			<string>A</string>
			<string>a</string>
			<string>b</string>
			<string>c</string>
			<string>d</string>
			<string>e</string>
			<string>f</string>
			<string>g</string>
			<string>h</string>
			<string>i</string>
			<string>j</string>
			<string>k</string>
			<string>l</string>
			<string>m</string>
			<string>n</string>
			<string>o</string>
			<string>p</string>
			<string>q</string>
			<string>r</string>
			<string>s</string>
			<string>t</string>
			<string>u</string>
			<string>v</string>
			<string>w</string>
			<string>x</string>
			<string>y</string>
			<string>tml_A</string>
			<string>tml_Aa</string>
			<string>tml_I</string>
			<string>tml_Ii</string>
			<string>tml_U</string>
			<string>tml_Uu</string>
			<string>tml_E</string>
			<string>tml_Ee</string>
			<string>tml_Ai</string>
			<string>tml_O</string>
			<string>tml_Oo</string>
			<string>tml_Au</string>
			<string>tml_Ka</string>
			<string>tml_Nga</string>
			<string>tml_Ca</string>
			<string>tml_Ja</string>
			<string>tml_Nya</string>
			<string>tml_Tta</string>
			<string>tml_Nna</string>
			<string>tml_Ta</string>
			<string>tml_Na</string>
			<string>tml_Nnna</string>
			<string>tml_Pa</string>
			<string>tml_Ma</string>
			<string>tml_Ya</string>
			<string>tml_Ra</string>
			<string>tml_Ra.alt</string>
			<string>tml_Rra</string>
			<string>tml_La</string>
			<string>tml_Lla</string>
			<string>tml_Llla</string>
			<string>tml_Va</string>
			<string>tml_Sha</string>
			<string>tml_Ssa</string>
			<string>tml_Sa</string>
			<string>tml_Ha</string>
			<string>tml_Om</string>
			<string>tml_Visarga</string>
			<string>tml_Ten</string>
			<string>tml_Hundred</string>
			<string>tml_Thousand</string>
			<string>tml_One</string>
			<string>tml_Two</string>
			<string>tml_Three</string>
			<string>tml_Four</string>
			<string>tml_Five</string>
			<string>tml_Six</string>
			<string>tml_Seven</string>
			<string>tml_Eight</string>
			<string>tml_Nine</string>
			<string>comma</string>
			<string>question</string>
			<string>hyphen</string>
			<string>space</string>
			<string>CR</string>
			<string>.notdef</string>
			<string>tml_Rupee</string>
			<string>greater</string>
			<string>less</string>
			<string>tml_Day</string>
			<string>tml_Month</string>
			<string>tml_Year</string>
			<string>tml_Debit</string>
			<string>tml_Credit</string>
			<string>tml_Above</string>
			<string>tml_Number</string>
			<string>tml_MatraAa</string>
			<string>tml_MatraI</string>
			<string>tml_MatraI.alt1</string>
			<string>tml_MatraI.alt2</string>
			<string>tml_MatraI.alt3</string>
			<string>tml_MatraI.alt4</string>
			<string>tml_MatraI.alt5</string>
			<string>tml_MatraI.alt6</string>
			<string>tml_MatraI.alt7</string>
			<string>tml_MatraI.alt8</string>
			<string>tml_MatraI.stylalt1</string>
			<string>tml_MatraIi</string>
			<string>tml_MatraIi.alt1</string>
			<string>tml_MatraIi.alt2</string>
			<string>tml_MatraIi.alt3</string>
			<string>tml_MatraIi.stylalt1</string>
			<string>tml_MatraU</string>
			<string>tml_MatraU.alt1</string>
			<string>tml_MatraUu</string>
			<string>tml_MatraE</string>
			<string>tml_MatraEe</string>
			<string>tml_MatraAi</string>
			<string>tml_MatraAi.alt</string>
			<string>tml_MatraO</string>
			<string>tml_MatraOo</string>
			<string>tml_MatraAu</string>
			<string>tml_Virama</string>
			<string>tml_AuLengthmark</string>
			<string>tml_Anusvara</string>
			<string>logo.mooniakplanets</string>
			<string>logo.scribbletext</string>
			<string>logo.colombore</string>
			<string>logo.sense</string>
			<string>logo.scribble</string>
			<string>sinMa</string>
			<string>sinTha</string>
			<string>sinYa</string>
			<string>logo.eventer</string>
			<string>logo.textual</string>
			<string>mush</string>
			<string>logo.ulkaa</string>
			<string>logo.scribblehand</string>
			<string>logo.mooniak</string>
			<string>logo.mooniak.tml</string>
			<string>logo.mooniak.sin</string>
			<string>logo.mooniak.en</string>
			<string>tml_CU</string>
			<string>tml_CUu</string>
			<string>tml_KSsU</string>
			<string>tml_KSsUu</string>
			<string>tml_KSsa</string>
			<string>tml_KU</string>
			<string>tml_KUu</string>
			<string>tml_LU</string>
			<string>tml_LUu</string>
			<string>tml_LlU</string>
			<string>tml_LlUu</string>
			<string>tml_LllU</string>
			<string>tml_LllUu</string>
			<string>tml_MU</string>
			<string>tml_MUu</string>
			<string>tml_NU</string>
			<string>tml_NUu</string>
			<string>tml_NgUu</string>
			<string>tml_NnAa.alt</string>
			<string>tml_NnU</string>
			<string>tml_NnUu</string>
			<string>tml_NnnAa.alt</string>
			<string>tml_NnnU</string>
			<string>tml_NnnUu</string>
			<string>tml_NyU</string>
			<string>tml_NyUu</string>
			<string>tml_PUu</string>
			<string>tml_RI.alt</string>
			<string>tml_RIi.alt</string>
			<string>tml_RU</string>
			<string>tml_RUu</string>
			<string>tml_RrAa.alt</string>
			<string>tml_RrU</string>
			<string>tml_RrUu</string>
			<string>tml_SI</string>
			<string>tml_SIi</string>
			<string>tml_SU</string>
			<string>tml_SUu</string>
			<string>tml_Shree</string>
			<string>tml_SsU</string>
			<string>tml_SsUu</string>
			<string>tml_TU</string>
			<string>tml_TUu</string>
			<string>tml_TtI</string>
			<string>tml_TtIi</string>
			<string>tml_TtU</string>
			<string>tml_TtUu</string>
			<string>tml_VUu</string>
			<string>tml_YUu</string>
			<string>sinKa</string>
			<string>logo.mooniak.thn</string>
			<string>logo.mooniak.full</string>
		</array>
	</dict>
</plist>
